body{
    
}

#wrap {
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}
h1{
    font-family: Arial;
}

#total{
    background-color: #bdd4e7;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    border-radius: 25px;
    width: 300px;
}